:root{
--fontRoboto:'Roboto', sans-serif;
--fontOpensans:'Open Sans', sans-serif;
--mainGreenColor:#71A894;
--Body-color:#F9F9F9;
--navigation-border-color:#E7E7E7;
--Main-BlackColor:#303031;
--Main-GrayColor:#66645E;


}